.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerimage{
  width: 200px;
  border-radius: 10px;
}
.login1{
  margin-left: auto;

}
.login2{
  color: black;
}
.loginbtn{
  background-color: black;
}
.loginimg{
  width: 200px;
  border-radius: 20px;
}
.footer{
  background-color: black;
  color: white;
}
.reactloginbtn{
  border: none;
  border-radius: 10px;
  background-color: transparent;
}
.reactloginbtn1{
border-left: black;
border-top: black;
border-bottom: black;  
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
 
}
.loginlabel{
  font-weight: bold;
  margin-bottom: 5px;
}
#input{
  margin-bottom: 5px;
  border: 1px solid blue;
}
#gender{
  margin-top: 5px;
  margin-bottom: 5px;
}
.smallpara{
  margin-top: 5px;
}
.Registerbtn{
  border: none;
  background-color:#261043;
  padding:  10px 20px;
  border-radius: 10px;
  color: white;
}
.cardlogin{
  border-radius: 10px;
  padding: 5px;
}
.parastart{
  color: #684a90;
}
.jan{
  color: #2c0264;
  margin-right: 20px;
}
.card1para{
  margin-top: 20px;
}

/* login */
.loginheader{
text-align: center;
}
.loginpara{
  color: #684a90;
}
.loginemail{
  margin-bottom: 5px;
  font-weight: bold;
}
.logininput{
  border-radius: 5px;
 border: 1px solid blue;
  
}
.loginpassword{
  margin-bottom: 5px;
  font-weight: bold;
}
.loginforgot{
  text-align: end;
}
.eyeicon{
  margin-top:-20px;
  margin-left: auto;
}
.loginbutton{
  border-radius: 10px;
  color: white;
  background-color:#261043;
}
.loginh4{
  text-align: center;
  margin-top: 15px;
}
.googleimg{
  width: 50px;
}
.signgoogle{
  text-align: center;
  margin-top: 10px;
  
}
.loginbutton2{
  border-radius: 10px;
  border: none;
}
.loginspan1{
  margin-top: 20px;
}
.janlogin{
  color: #2c0264;
  margin-right: 20px;
}
.Register{
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: #261043;
  font-weight: bold;

}
.defaulticon{
  color: green;
}